.version.index /* version checker */
{
	color: #00001F;
	background-color: #EF1AEE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 1458.6px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 69px 111px 189.4000000000001px;
}

#slideshowu75
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 44px;
	position: relative;
}

#u94
{
	position: absolute;
	background-color: transparent;
}

#u94popup
{
	z-index: 3;
}

#u95
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u144
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u153
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u162
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u171
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u342
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u351
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u360
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u369
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u378
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u387
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u396
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u405
{
	z-index: 28;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u414
{
	z-index: 30;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u423
{
	z-index: 32;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u432
{
	z-index: 34;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u441
{
	z-index: 36;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1409
{
	z-index: 38;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1418
{
	z-index: 40;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1427
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1436
{
	z-index: 44;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1445
{
	z-index: 46;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1454
{
	z-index: 48;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1463
{
	z-index: 50;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1472
{
	z-index: 52;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1481
{
	z-index: 54;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1490
{
	z-index: 56;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1499
{
	z-index: 58;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1508
{
	z-index: 60;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1517
{
	z-index: 62;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1526
{
	z-index: 64;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1535
{
	z-index: 66;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u180-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-top: 855px;
	position: relative;
}

#u220
{
	z-index: 75;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1088px;
	left: 189px;
}

#ppu230
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 7px;
}

#u230
{
	z-index: 73;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1103px;
	left: 302px;
	background: url("../images/u230.png") no-repeat 0px 0px;
}

#u230:hover
{
	background: url("../images/u230-r.png") no-repeat 0px 0px;
}

#u278
{
	z-index: 92;
	width: 520px;
	height: 102px;
	position: relative;
	margin-right: -10000px;
}

#u239
{
	z-index: 77;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1204px;
	left: 189px;
}

#u220:hover,#u239:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#ppu242
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 14px;
}

#u242
{
	z-index: 80;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1219px;
	left: 302px;
	background: url("../images/u242.png") no-repeat 0px 0px;
}

#u242:hover
{
	background: url("../images/u242-r.png") no-repeat 0px 0px;
}

#u279
{
	z-index: 93;
	width: 650px;
	height: 102px;
	position: relative;
	margin-right: -10000px;
}

#u259
{
	z-index: 88;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1335px;
	left: 189px;
}

#ppu246
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 29px;
}

#u246
{
	z-index: 83;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1335px;
	left: 302px;
	background: url("../images/u246.png") no-repeat 0px 0px;
}

#u246:hover
{
	background: url("../images/u246-r.png") no-repeat 0px 0px;
}

#u280
{
	z-index: 94;
	width: 436px;
	height: 72px;
	position: relative;
	margin-right: -10000px;
}

#u265
{
	z-index: 90;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1445px;
	left: 189px;
}

#ppu250
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 38px;
}

#u250
{
	z-index: 86;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1451px;
	left: 302px;
	background: url("../images/u250.png") no-repeat 0px 0px;
}

#u250:hover
{
	background: url("../images/u250-r.png") no-repeat 0px 0px;
}

.js #u220.ose_pre_init,.js #u230.ose_pre_init,.js #u239.ose_pre_init,.js #u242.ose_pre_init,.js #u259.ose_pre_init,.js #u246.ose_pre_init,.js #u265.ose_pre_init,.js #u250.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u281
{
	z-index: 95;
	width: 436px;
	height: 83px;
	position: relative;
	margin-right: -10000px;
}

.ie #u278,.ie #u279,.ie #u280,.ie #u281
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

