.titel {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	color: #FAFAFA;
	margin-bottom: 10px;
	margin-top: 10px;
}

hr {
	color: #FAFAFA;
	width: auto;
	margin-top: -1px;
	margin-left: 1px;
	margin-bottom: 10px;
}