.version.index /* version checker */
{
	color: #0000E9;
	background-color: #201A48;
}

@-ms-viewport
{
	width: 1080px;
}

@-webkit-viewport
{
	width: 1080px;
}

@-o-viewport
{
	width: 1080px;
}

@-moz-viewport
{
	width: 1080px;
}

@viewport
{
	width: 1080px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 1919.9999999999955px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#slideshowu484
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 255px;
	margin-top: 105px;
	position: relative;
}

#u489
{
	position: absolute;
	background-color: transparent;
}

#u489popup
{
	z-index: 3;
}

#u494
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u563
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u572
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u581
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u590
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u599
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u608
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u617
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u626
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u635
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u644
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u653
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u662-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-left: 193px;
	margin-top: 1406px;
	position: relative;
}

#ppu663
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 10px;
}

#u663
{
	z-index: 34;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1693px;
	left: 328px;
	background: url("../../images/u663.png") no-repeat 0px 0px;
}

#u663:hover
{
	background: url("../../images/u663-r.png") no-repeat 0px 0px;
}

#u679
{
	z-index: 53;
	width: 520px;
	height: 102px;
	position: relative;
	margin-right: -10000px;
}

#u664
{
	z-index: 36;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1678px;
	left: 215px;
}

#u666
{
	z-index: 38;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1794px;
	left: 215px;
}

#u664:hover,#u666:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#ppu668
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 14px;
}

#u668
{
	z-index: 41;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1809px;
	left: 328px;
	background: url("../../images/u668.png") no-repeat 0px 0px;
}

#u668:hover
{
	background: url("../../images/u668-r.png") no-repeat 0px 0px;
}

#u680
{
	z-index: 54;
	width: 650px;
	height: 102px;
	position: relative;
	margin-right: -10000px;
}

#ppu669
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 29px;
}

#u669
{
	z-index: 44;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 1925px;
	left: 328px;
	background: url("../../images/u669.png") no-repeat 0px 0px;
}

#u669:hover
{
	background: url("../../images/u669-r.png") no-repeat 0px 0px;
}

#u681
{
	z-index: 55;
	width: 436px;
	height: 72px;
	position: relative;
	margin-right: -10000px;
}

#ppu670
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 38px;
}

#u670
{
	z-index: 47;
	height: 72px;
	width: 537px;
	vertical-align: top;
	position: fixed;
	top: 2041px;
	left: 328px;
	background: url("../../images/u670.png") no-repeat 0px 0px;
}

#u670:hover
{
	background: url("../../images/u670-r.png") no-repeat 0px 0px;
}

#u682
{
	z-index: 56;
	width: 436px;
	height: 83px;
	position: relative;
	margin-right: -10000px;
}

#u702
{
	z-index: 32;
	height: 2189px;
}

.ie #u679,.ie #u680,.ie #u681,.ie #u682,.ie #u702
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u702-bw
{
	z-index: 32;
	margin-top: -2118px;
	margin-bottom: -2118px;
	height: 2189px;
}

#pu671
{
	width: 0.01px;
	padding-bottom: 193px;
	margin-left: 215px;
	margin-top: -264px;
}

#u671
{
	z-index: 49;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 1925px;
	left: 215px;
}

#u673
{
	z-index: 51;
	width: 102px;
	background-color: transparent;
	position: fixed;
	top: 2035px;
	left: 215px;
}

.js #u663.ose_pre_init,.js #u664.ose_pre_init,.js #u666.ose_pre_init,.js #u668.ose_pre_init,.js #u669.ose_pre_init,.js #u670.ose_pre_init,.js #u671.ose_pre_init,.js #u673.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

body
{
	position: relative;
	min-width: 1080px;
}

#page .verticalspacer
{
	clear: both;
}

