.version.index /* version checker */
{
	color: #0000E5;
	background-color: #43BB25;
}

@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	width: 0.01px;
}

#pslideshowu903
{
	width: 0.01px;
	padding-bottom: 520px;
}

#slideshowu903
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 255px;
}

#u942
{
	position: absolute;
	background-color: transparent;
}

#u942popup
{
	z-index: 3;
}

#u947
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u957
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u953
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u951
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u943
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u949
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u969
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u955
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u967
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u975
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u965
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u961
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u945
{
	z-index: 28;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u963
{
	z-index: 30;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u959
{
	z-index: 32;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u971
{
	z-index: 34;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u973
{
	z-index: 36;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1094
{
	z-index: 38;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1103
{
	z-index: 40;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1112
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1121
{
	z-index: 44;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1130
{
	z-index: 46;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1139
{
	z-index: 48;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1148
{
	z-index: 50;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1157
{
	z-index: 52;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1166
{
	z-index: 54;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1175
{
	z-index: 56;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1184
{
	z-index: 58;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1193
{
	z-index: 60;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1238
{
	z-index: 62;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1247
{
	z-index: 64;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1256
{
	z-index: 66;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1265
{
	z-index: 68;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1274
{
	z-index: 70;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1283
{
	z-index: 72;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1292
{
	z-index: 74;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1301
{
	z-index: 76;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1310
{
	z-index: 78;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1319
{
	z-index: 80;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1328
{
	z-index: 82;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1337
{
	z-index: 84;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u999-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#ppu887
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: -496px;
}

#u887
{
	z-index: 91;
	height: 58px;
	width: 430px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 82px;
	background: url("../../images/u887.png") no-repeat 0px 0px;
}

#u887:hover
{
	background: url("../../images/u887-r.png") no-repeat 0px 0px;
}

#u888
{
	z-index: 93;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u888:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 67px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u1346
{
	z-index: 110;
	width: 511px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
}

#pu890
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: -370px;
}

#u890
{
	z-index: 95;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u890:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u892
{
	z-index: 98;
	height: 58px;
	width: 441px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 82px;
	background: url("../../images/u892.png") no-repeat 0px 0px;
}

#u892:hover
{
	background: url("../../images/u892-r.png") no-repeat 0px 0px;
}

#u1347
{
	z-index: 111;
	width: 511px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
}

#ppu893
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: -250px;
}

#u893
{
	z-index: 101;
	height: 58px;
	width: 423px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 84px;
	background: url("../../images/u893.png") no-repeat 0px 0px;
}

#u893:hover
{
	background: url("../../images/u893-r.png") no-repeat 0px 0px;
}

#u895
{
	z-index: 106;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#u1348
{
	z-index: 112;
	width: 345px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
}

#ppu894
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: -138px;
}

#u894
{
	z-index: 104;
	height: 58px;
	width: 441px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 89px;
	background: url("../../images/u894.png") no-repeat 0px 0px;
}

#u894:hover
{
	background: url("../../images/u894-r.png") no-repeat 0px 0px;
}

#u897
{
	z-index: 108;
	width: 82px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1349
{
	z-index: 113;
	width: 350px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1346,.ie #u1347,.ie #u1348,.ie #u1349
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 540px;
}

#page .verticalspacer
{
	clear: both;
}

